.wpf-header .pf-sociallinks .pf-infolinks-item a span,#pf-topprimary-nav .pfnavmenu li a
{
	font-family: "Roboto Condensed",Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .wpf-header .pf-sociallinks .pf-infolinks-item a span,.wf-loading #pf-topprimary-nav .pfnavmenu li a,
{
	opacity: 0;
}
.ie.wf-loading .wpf-header .pf-sociallinks .pf-infolinks-item a span,.ie.wf-loading #pf-topprimary-nav .pfnavmenu li a,
{
	visibility: hidden;
}
.wpf-header .pftopline
{
	/*background: #28353d;*/
	/*meme*/
	display: none;
}
.wpf-header .pf-sociallinks .pf-sociallinks-item a,.wpf-header .pf-sociallinks .pf-sociallinks-item.pf-infolinks-item a,#pf-topprimary-nav .pfnavmenu li a,.wpf-header .pf-sociallinks .pf-sociallinks-item,.wpf-header .pf-sociallinks .pf-sociallinks-item.pf-infolinks-item,#pf-topprimary-nav .pfnavmenu li
{
	color: #e8e8e8;
}
.wpf-header .pf-sociallinks .pf-sociallinks-item a:hover,.wpf-header .pf-sociallinks .pf-sociallinks-item.pf-infolinks-item a:hover,#pf-topprimary-nav .pfnavmenu li a:hover,.wpf-header .pf-sociallinks .pf-sociallinks-item:hover,.wpf-header .pf-sociallinks .pf-sociallinks-item.pf-infolinks-item:hover,#pf-topprimary-nav .pfnavmenu li:hover
{
	color: #fff;
}
#pf-topprimary-nav .pfnavmenu .pfnavsub-menu li
{
	background-color: #28353d;
}
#pf-topprimary-nav .pfnavmenu .pfnavsub-menu li:hover
{
	background-color: #34495e;
}
#pf-topprimary-nav .pfnavmenu .pfnavsub-menu li
{
	color: #ffffff;
}
#pf-topprimary-nav .pfnavmenu .pfnavsub-menu li:hover
{
	color: #ffffff;
}
.wpf-header,#pf-topprimary-navmobi,#pf-topprimary-navmobi2
{
	background: rgba(255,255,255,0.99);
}
.wpf-header.pfshrink
{
	background: rgba(249,249,249,0.95);
}
.wpf-header
{
	border-bottom: 1px solid #ebebeb;
}
.wpf-header #pf-primary-nav .pfnavmenu li a,.wpf-header #pf-primary-nav .pfnavmenu li.selected > a,#pf-topprimary-navmobi .pf-nav-dropdownmobi li a,#pf-topprimary-navmobi2 .pf-nav-dropdownmobi li a,.pf-blank-th,#pf-primary-nav-button,#pf-topprimary-nav-button2,#pf-topprimary-nav-button,#pf-primary-search-button,.anemptystylesheet
{
	/*color: #444444;*/
	/*meme*/
	color: #2a51a3;
	font-size: 14px;
}
.wpf-header #pf-primary-nav .pfnavmenu li a:hover,.wpf-header #pf-primary-nav .pfnavmenu li.selected > a:hover,#pf-topprimary-navmobi .pf-nav-dropdownmobi li a:hover,#pf-topprimary-navmobi2 .pf-nav-dropdownmobi li a:hover,.pf-blank-th:hover,#pf-primary-nav-button:hover,#pf-topprimary-nav-button2:hover,#pf-topprimary-nav-button:hover,#pf-primary-search-button:hover,.anemptystylesheet:hover
{
	/*color: #a32221;*/
	/*meme*/
	border-bottom: solid 4px #fff;
	color: #2a51a3;
	font-size: 14px;
	font-weight: 700; 
}
.wpf-header #pf-primary-nav .pfnavmenu li a,#pf-topprimary-navmobi .pf-nav-dropdownmobi li a,#pf-topprimary-navmobi2 .pf-nav-dropdownmobi li a
{
	/*font-family: "Open Sans";*/
	font-size: 14px;
	font-style: normal;
	/*font-weight: 400;*/
	line-height: 18px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	text-align: left;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
	/*meme*/
	border-bottom: 0px;
	font-family: 'Exo', sans-serif;
	font-size: 700;
}
.wf-loading .wpf-header #pf-primary-nav .pfnavmenu li a,.wf-loading #pf-topprimary-navmobi .pf-nav-dropdownmobi li a,.wf-loading #pf-topprimary-navmobi2 .pf-nav-dropdownmobi li a,
{
	opacity: 0;
}
.ie.wf-loading .wpf-header #pf-primary-nav .pfnavmenu li a,.ie.wf-loading #pf-topprimary-navmobi .pf-nav-dropdownmobi li a,.ie.wf-loading #pf-topprimary-navmobi2 .pf-nav-dropdownmobi li a,
{
	visibility: hidden;
}
.wpf-header #pf-primary-nav .pfnavmenu .pfnavsub-menu li
{
	background-color: #ffffff;
}
.wpf-header #pf-primary-nav .pfnavmenu .pfnavsub-menu li:hover
{
	background-color: #ededed;
}
.wpf-header #pf-primary-nav .pfnavmenu .pfnavsub-menu li a,.anemptystylesheet
{
	color: #282828;
}
.wpf-header #pf-primary-nav .pfnavmenu .pfnavsub-menu li a:hover,.anemptystylesheet:hover
{
	color: #000000;
}
.wpf-header #pf-primary-nav .pfnavmenu .pfnavsub-menu li a
{
	font-family: "Open Sans";
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	text-align: left;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .wpf-header #pf-primary-nav .pfnavmenu .pfnavsub-menu li a,
{
	opacity: 0;
}
.ie.wf-loading .wpf-header #pf-primary-nav .pfnavmenu .pfnavsub-menu li a,
{
	visibility: hidden;
}
.pf-defaultpage-header .main-titlebar-text,.pf-defaultpage-header .pf-breadcrumbs #pfcrumbs li a,.pf-defaultpage-header .pf-breadcrumbs #pfcrumbs li,.pf-itempage-header,.pf-breadcrumbs #pfcrumbs li a,.pf-breadcrumbs #pfcrumbs li
{
	color: #333333;
}
.pf-defaultpage-header,.pf-defaultpage-header .col-lg-12,.pf-itempage-header,.pf-itempage-header .col-lg-12
{
	height: 90px;
}
.pf-defaultpage-header,.pf-itempage-header
{
	background-color: #f2f2f2;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
a
{
	color: #333333;
}
a:hover
{
	color: #a32221;
}
a:active
{
	color: #a32221;
}
.pfwidgettitle .widgetheader,.dsidx-prop-title,.dsidx-prop-title a,.pfuaformsidebar .pf-sidebar-header,#dsix-listings .dsidx-primary-data,#dsidx-listings .dsidx-primary-data a,.ui-tabgroup >.ui-tabs >[class^="ui-tab"],.pfitempagecontainerheader,.pf-item-title-bar .pf-item-title-text,.pf_pageh_title .pf_pageh_title_inner,.pfdetailitem-subelement .pfdetail-ftext.pf-pricetext,.pf-agentlist-pageitem .pf-itempage-sidebarinfo-elname,.pf-authordetail-page .pf-itempage-sidebarinfo-elname,.post-mtitle
{
	color: #333333;
	font-family: "Open Sans",Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .pfwidgettitle .widgetheader,.wf-loading .dsidx-prop-title,.wf-loading .dsidx-prop-title a,.wf-loading .pfuaformsidebar .pf-sidebar-header,.wf-loading #dsix-listings .dsidx-primary-data,.wf-loading #dsidx-listings .dsidx-primary-data a,.wf-loading .ui-tabgroup >.ui-tabs >[class^="ui-tab"],.wf-loading .pfitempagecontainerheader,.wf-loading .pf-item-title-bar .pf-item-title-text,.wf-loading .pf_pageh_title .pf_pageh_title_inner,.wf-loading .pfdetailitem-subelement .pfdetail-ftext.pf-pricetext,.wf-loading .pf-agentlist-pageitem .pf-itempage-sidebarinfo-elname,.wf-loading .pf-authordetail-page .pf-itempage-sidebarinfo-elname,.wf-loading .post-mtitle,
{
	opacity: 0;
}
.ie.wf-loading .pfwidgettitle .widgetheader,.ie.wf-loading .dsidx-prop-title,.ie.wf-loading .dsidx-prop-title a,.ie.wf-loading .pfuaformsidebar .pf-sidebar-header,.ie.wf-loading #dsix-listings .dsidx-primary-data,.ie.wf-loading #dsidx-listings .dsidx-primary-data a,.ie.wf-loading .ui-tabgroup >.ui-tabs >[class^="ui-tab"],.ie.wf-loading .pfitempagecontainerheader,.ie.wf-loading .pf-item-title-bar .pf-item-title-text,.ie.wf-loading .pf_pageh_title .pf_pageh_title_inner,.ie.wf-loading .pfdetailitem-subelement .pfdetail-ftext.pf-pricetext,.ie.wf-loading .pf-agentlist-pageitem .pf-itempage-sidebarinfo-elname,.ie.wf-loading .pf-authordetail-page .pf-itempage-sidebarinfo-elname,.ie.wf-loading .post-mtitle,
{
	visibility: hidden;
}
body,.pfwidgetinner div.dsidx-results-widget,.pfwidgetinner div.dsidx-results-widget p
{
	color: #515151;
	/*font-family: "Open Sans",Arial, Helvetica, sans-serif;*/
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
	/*memo*/
	font-family: 'Exo', sans-serif;
}
.wf-loading body,.wf-loading .pfwidgetinner div.dsidx-results-widget,.wf-loading .pfwidgetinner div.dsidx-results-widget p,
{
	opacity: 0;
}
.ie.wf-loading body,.ie.wf-loading .pfwidgetinner div.dsidx-results-widget,.ie.wf-loading .pfwidgetinner div.dsidx-results-widget p,
{
	visibility: hidden;
}
body
{
	background-color: #ffffff;
}
.pf-uadashboard-container .golden-forms .pfmyitempagebuttons,.pf-uadashboard-container .golden-forms .pfmyitempagebuttonsex,.pf-itempage-maindiv .golden-forms .button,.pf-notfound-page .btn-success,.pfuaformsidebar .pf-sidebar-menu li,.widget_pfitem_recent_entries .golden-forms .button.pfsearch,.pftcmcontainer.golden-forms .button,#pf-contact-form-submit,.pf-enquiry-form-ex,.golden-forms #commentform .button,.anemptystylesheet
{
	background-color: #f9f9f9;
}
.pf-uadashboard-container .golden-forms .pfmyitempagebuttons:hover,.pf-uadashboard-container .golden-forms .pfmyitempagebuttonsex:hover,.pf-itempage-maindiv .golden-forms .button:hover,.pf-notfound-page .btn-success:hover,.pfuaformsidebar .pf-sidebar-menu li:hover,.widget_pfitem_recent_entries .golden-forms .button.pfsearch:hover,.pftcmcontainer.golden-forms .button:hover,#pf-contact-form-submit:hover,.pf-enquiry-form-ex:hover,.golden-forms #commentform .button:hover,.anemptystylesheet
{
	background-color: #ebebeb;
}
.pf-uadashboard-container .golden-forms .pfmyitempagebuttons,.pf-uadashboard-container .golden-forms .pfmyitempagebuttonsex,.pf-itempage-maindiv .golden-forms .button,.pf-notfound-page .btn-success,.pfuaformsidebar .pf-sidebar-menu li a,.widget_pfitem_recent_entries .golden-forms .button.pfsearch,.pftcmcontainer.golden-forms .button,#pf-contact-form-submit,.golden-forms #commentform .button,.pf-enquiry-form-ex,.anemptystylesheet
{
	color: #333333;
}
.pf-uadashboard-container .golden-forms .pfmyitempagebuttons:hover,.pf-uadashboard-container .golden-forms .pfmyitempagebuttonsex:hover,.pf-itempage-maindiv .golden-forms .button:hover,.pf-notfound-page .btn-success:hover,.pfuaformsidebar .pf-sidebar-menu li a:hover,.widget_pfitem_recent_entries .golden-forms .button.pfsearch:hover,.pftcmcontainer.golden-forms .button:hover,#pf-contact-form-submit:hover,.golden-forms #commentform .button:hover,.pf-enquiry-form-ex:hover,.anemptystylesheet:hover
{
	color: #000000;
}
.pfsearchformerrors
{
	background: rgba(146,28,28,0.95);
}
.pfsearchformerrors > ul
{
	color: #FFFFFF;
}
#pfsearch-err-button
{
	color: #FFFFFF;
}
#pfsearch-err-button:hover
{
	color: #efefef;
}
#pfsearch-err-button
{
	color: #530000;
}
.pfribbon-featured,.pfribbon-featured2
{
	background: rgba(94,181,36,0.97);
}
.pfribbon-featured,.pfribbon-featured2
{
	color: #FFFFFF;
}
.wpf-footer
{
	border-bottom: 0px solid #ebebeb;
	border-left: 0px solid #ebebeb;
	border-right: 0px solid #ebebeb;
	border-top: 0px solid #ebebeb;
}
.wpf-footer
{
	background: #2c3e50;
}
.wpf-footer a
{
	color: #ffffff;
}
.wpf-footer a:hover
{
	color: #efefef;
}
.pf-iconbox-wrapper .pf-iconbox-title
{
	font-family: "Open Sans",Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 600;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .pf-iconbox-wrapper .pf-iconbox-title,
{
	opacity: 0;
}
.ie.wf-loading .pf-iconbox-wrapper .pf-iconbox-title,
{
	visibility: hidden;
}
.pf-iconbox-wrapper .pf-iconbox-text,.pf-iconbox-wrapper .pf-iconbox-readmore
{
	font-family: "Open Sans",Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .pf-iconbox-wrapper .pf-iconbox-text,.wf-loading .pf-iconbox-wrapper .pf-iconbox-readmore,
{
	opacity: 0;
}
.ie.wf-loading .pf-iconbox-wrapper .pf-iconbox-text,.ie.wf-loading .pf-iconbox-wrapper .pf-iconbox-readmore,
{
	visibility: hidden;
}
.pf-item-slider .pf-item-slider-description,.pf-item-slider .pf-item-slider-price,.pf-item-slider .pf-item-slider-golink
{
	background: rgba(0,0,0,0.89);
}
.pf-item-slider-description .pf-item-slider-title a,.pf-item-slider .pflistingitem-subelement.pf-price,.pf-item-slider .pf-item-slider-golink a,.anemptystylesheet
{
	color: #fff;
}
.pf-item-slider-description .pf-item-slider-title a:hover,.pf-item-slider .pflistingitem-subelement.pf-price:hover,.pf-item-slider .pf-item-slider-golink a:hover,.anemptystylesheet:hover
{
	color: #efefef;
}
.pf-item-slider-description .pf-item-slider-title,.pf-item-slider .pflistingitem-subelement.pf-price,.pf-item-slider .pf-item-slider-golink
{
	font-family: "Roboto Condensed";
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	text-align: left;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .pf-item-slider-description .pf-item-slider-title,.wf-loading .pf-item-slider .pflistingitem-subelement.pf-price,.wf-loading .pf-item-slider .pf-item-slider-golink,
{
	opacity: 0;
}
.ie.wf-loading .pf-item-slider-description .pf-item-slider-title,.ie.wf-loading .pf-item-slider .pflistingitem-subelement.pf-price,.ie.wf-loading .pf-item-slider .pf-item-slider-golink,
{
	visibility: hidden;
}
.pf-item-slider-description .pf-item-slider-address a
{
	color: #fff;
}
.pf-item-slider-description .pf-item-slider-address a:hover
{
	color: #efefef;
}
.pf-item-slider-description .pf-item-slider-address
{
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	text-align: left;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .pf-item-slider-description .pf-item-slider-address,
{
	opacity: 0;
}
.ie.wf-loading .pf-item-slider-description .pf-item-slider-address,
{
	visibility: hidden;
}
.pf-item-slider-description .pf-item-slider-excerpt
{
	color: #fff;
	font-family: "Open Sans";
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 15px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	text-align: left;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .pf-item-slider-description .pf-item-slider-excerpt,
{
	opacity: 0;
}
.ie.wf-loading .pf-item-slider-description .pf-item-slider-excerpt,
{
	visibility: hidden;
}
.pfsearchresults .pfsearchresults-content
{
	background: #dbdbdb;
}
.pfsearchresults .pfsearchresults-header
{
	background: #fafafa;
}
.pfsearchresults-content .pflist-item
{
	background: #ffffff;
}
.pflist-item .pfHoverButtonStyle > a
{
	color: #000000;
}
.pflist-item .pfHoverButtonStyle > a:hover
{
	color: #B32E2E;
}
.pflist-itemdetails .pflist-itemtitle a
{
	color: #333333;
}
.pflist-itemdetails .pflist-itemtitle a:hover
{
	color: #b32e2e;
}
.pflist-itemdetails .pflist-itemtitle a
{
	font-family: "Open Sans",Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 19px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	text-align: left;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .pflist-itemdetails .pflist-itemtitle a,
{
	opacity: 0;
}
.ie.wf-loading .pflist-itemdetails .pflist-itemtitle a,
{
	visibility: hidden;
}
.pflistingitem-subelement.pf-onlyitem .pf-ftext,.pflistingitem-subelement.pf-onlyitem .pf-ftitle,.pfshowmaplink,.pflistingitem-subelement.pf-ititem .pf-ftitle,.pflist-item .pflist-excerpt,.anemptystylesheet
{
	color: #515151;
	font-family: "Open Sans",Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	text-align: left;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .pflistingitem-subelement.pf-onlyitem .pf-ftext,.wf-loading .pflistingitem-subelement.pf-onlyitem .pf-ftitle,.wf-loading .pfshowmaplink,.wf-loading .pflistingitem-subelement.pf-ititem .pf-ftitle,.wf-loading .pflist-item .pflist-excerpt,.wf-loading .anemptystylesheet,
{
	opacity: 0;
}
.ie.wf-loading .pflistingitem-subelement.pf-onlyitem .pf-ftext,.ie.wf-loading .pflistingitem-subelement.pf-onlyitem .pf-ftitle,.ie.wf-loading .pfshowmaplink,.ie.wf-loading .pflistingitem-subelement.pf-ititem .pf-ftitle,.ie.wf-loading .pflist-item .pflist-excerpt,.ie.wf-loading .anemptystylesheet,
{
	visibility: hidden;
}
.pflistingitem-subelement.pf-onlyitem .pf-ftitle,.pfshowmaplink,.pflistingitem-subelement.pf-ititem .pf-ftitle
{
	color: #333333;
}
.pflistingitem-subelement.pf-price,.pflistingitem-subelement.pf-price a
{
	color: #f7f7f7;
	font-family: "Open Sans",Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 19px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	text-align: right;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .pflistingitem-subelement.pf-price,.wf-loading .pflistingitem-subelement.pf-price a,
{
	opacity: 0;
}
.ie.wf-loading .pflistingitem-subelement.pf-price,.ie.wf-loading .pflistingitem-subelement.pf-price a,
{
	visibility: hidden;
}
.pflist-itemdetails > .pflist-address
{
	color: #515151;
	font-family: "Open Sans",Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	text-align: left;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .pflist-itemdetails > .pflist-address,
{
	opacity: 0;
}
.ie.wf-loading .pflist-itemdetails > .pflist-address,
{
	visibility: hidden;
}
.pfuaformsidebar .pf-sidebar-cartitems .pfrecitemdescription
{
	background: #fae7a2;
}
.pfuaformsidebar .pf-sidebar-cartitems .pfrecitemdescription,.pfuaformsidebar .pf-sidebar-cartitems .pfrecitemdescription label
{
	color: #494949;
}
#pfuaprofileform .pfupload-featured-item-box
{
	background: #fae7a2;
}
#pfuaprofileform .pfupload-featured-item-box
{
	color: #494949;
}
.pflist-imagecontainer .RibbonCTR .Sign i,.wpfimage-wrapper .RibbonCTR .Sign i,.anemptystylesheet
{
	color: #000000;
}
.pflist-imagecontainer .RibbonCTR .Sign i:hover,.wpfimage-wrapper .RibbonCTR .Sign i:hover,.anemptystylesheet:hover
{
	color: #B32E2E;
}
.pfnotificationwindow
{
	background: rgba(247,247,247,0.92);
}
.pfnotificationwindow
{
	border: 1px solid #e0e0e0;
}
.pfnotificationwindow,.pfnotificationwindow a
{
	color: #9e2121;
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .pfnotificationwindow,.wf-loading .pfnotificationwindow a,
{
	opacity: 0;
}
.ie.wf-loading .pfnotificationwindow,.ie.wf-loading .pfnotificationwindow a,
{
	visibility: hidden;
}
.pfnot-err-button
{
	background-color: #9e2121;
}
.pfnot-err-button:hover
{
	background-color: #721414;
}
.pfnot-err-button,.pfnot-err-button:hover
{
	color: #ffffff;
}
#pfcontrol > .pfcontrol-header ul li
{
	background: #ffffff;
}
#pfcontrol > .pfcontrol-header ul li:hover
{
	background: #f2f2f2;
}
#pfcontrol > .pfcontrol-header ul li > i
{
	color: #3e5660;
}
#pfsearch-draggable .pfsearch-content
{
	height: 400px;
}
#pfsearch-draggable .pfitemlist-content
{
	height: 165px;
}
#pfsearch-draggable .pfmapopt-content
{
	height: 245px;
}
#pfsearch-draggable .pfitemlist-content
{
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading #pfsearch-draggable .pfitemlist-content,
{
	opacity: 0;
}
.ie.wf-loading #pfsearch-draggable .pfitemlist-content,
{
	visibility: hidden;
}
#pfsearch-draggable .pfsearch-content,#pfsearch-draggable .pfitemlist-content,#pfsearch-draggable .pfmapopt-content,#pfsearch-draggable .pfuser-content
{
	background: rgba(52,73,94,0.9);
}
#pfsearch-draggable label,#pfsearch-draggable .slider-input,#pfsearch-draggable .pfdragcontent
{
	color: #ffffff;
}
#pfsearch-draggable > .pfsearch-header ul li,.wpfui-tooltip
{
	background-color: #28353d;
}
#pfsearch-draggable > .pfsearch-header ul li:hover,.wpfui-tooltip
{
	background-color: #34495e;
}
#pfsearch-draggable > .pfsearch-header ul li > i,.wpfui-tooltip
{
	color: #efefef;
}
#pfsearch-draggable > .pfsearch-header ul li > i:hover,.wpfui-tooltip:hover
{
	color: #ffffff;
}
#pf-search-button,.pfmaptype-control .pfmaptype-control-ul .pfmaptype-control-li,.pfmaptype-control .pfmaptype-control-layers-ul .pfmaptype-control-layers-li,.anemptystylesheet
{
	background-color: #ffffff;
}
#pf-search-button:hover,.pfmaptype-control .pfmaptype-control-ul .pfmaptype-control-li:hover,.pfmaptype-control .pfmaptype-control-layers-ul .pfmaptype-control-layers-li:hover,.anemptystylesheet
{
	background-color: #efefef;
}
#pf-search-button,.pfmaptype-control .pfmaptype-control-ul .pfmaptype-control-li,.pfmaptype-control .pfmaptype-control-layers-ul .pfmaptype-control-layers-li,.anemptystylesheet
{
	color: #34495e;
}
#pf-search-button:hover,.pfmaptype-control .pfmaptype-control-ul .pfmaptype-control-li:hover,.pfmaptype-control .pfmaptype-control-layers-ul .pfmaptype-control-layers-li:hover,.anemptystylesheet:hover
{
	color: #28353d;
}
.wpfinfowindow .pfifnext,.wpfinfowindow .pfifprev
{
	background: rgba(0,0,0,0.53);
}
.wpfinfowindow .pfifnext,.wpfinfowindow .pfifprev
{
	color: #ffffff;
}
.wpfinfowindow,.wpfinfowindow .pfinfoloading
{
	background: rgba(255,251,245,0.99);
}
.wpfinfowindow .wpftext > .wpftitle a,.wpfinfowindow .wptitle a,.wpfinfowindow .wpf-closeicon i
{
	color: #333333;
}
.wpfinfowindow .wpftext > .wpftitle a:hover,.wpfinfowindow .wptitle a:hover,.wpfinfowindow .wpf-closeicon i:hover
{
	color: #b00000;
}
.wpfinfowindow .wpftext > .wpftitle a
{
	font-family: "Roboto Condensed",Tahoma,Geneva, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .wpfinfowindow .wpftext > .wpftitle a,
{
	opacity: 0;
}
.ie.wf-loading .wpfinfowindow .wpftext > .wpftitle a,
{
	visibility: hidden;
}
.wpfinfowindow .wpftext .wpfdetail
{
	color: #515151;
	font-family: "Roboto Condensed",Tahoma,Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .wpfinfowindow .wpftext .wpfdetail,
{
	opacity: 0;
}
.ie.wf-loading .wpfinfowindow .wpftext .wpfdetail,
{
	visibility: hidden;
}
.wpfdetailtitle
{
	color: #303030;
}
.pfinfowindowdlist > .pf-price
{
	color: #b00000;
	font-family: "Roboto Condensed",Tahoma,Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .pfinfowindowdlist > .pf-price,
{
	opacity: 0;
}
.ie.wf-loading .pfinfowindowdlist > .pf-price,
{
	visibility: hidden;
}
.wpfinfowindow .wpftext > .wpfaddress
{
	color: #333333;
	font-family: "Roboto Condensed",Tahoma,Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .wpfinfowindow .wpftext > .wpfaddress,
{
	opacity: 0;
}
.ie.wf-loading .wpfinfowindow .wpftext > .wpfaddress,
{
	visibility: hidden;
}
.wpfinfowindow .wpfdetail .pfliittype
{
	color: #515151;
	font-family: "Roboto Condensed",Tahoma,Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	moz-transition: opacity 0.24s ease-in-out;
	opacity: 1;
	transition: opacity 0.24s ease-in-out;
	visibility: visible;
	webkit-transition: opacity 0.24s ease-in-out;
}
.wf-loading .wpfinfowindow .wpfdetail .pfliittype,
{
	opacity: 0;
}
.ie.wf-loading .wpfinfowindow .wpfdetail .pfliittype,
{
	visibility: hidden;
}
.wpfinfowindow .wpfdetail .pfliittype a
{
	color: #333333;
}
.wpfinfowindow .wpfdetail .pfliittype a:hover
{
	color: #b00000;
}





/*-----------------------------
	meme
------------------------------*/
.body {
	font-family: 'Exo', sans-serif;	
}
.content-top h2{
	color: #fff;
	font-size: 60px;
	font-weight: 900;
}
.content-top h2 span{
	color: #fff;
	font-size: 55px;
	font-weight: normal;
}


