.pfuaformsidebar .pf-sidebar-menu li, #pfsearch-draggable .pfitemlist-content{text-align:right}
.pf-sidebar-menu li a .pfbadge{left:15px; right:auto!important}
.golden-forms .toggle-switch >label:after{left:2px; right:auto!important}
.golden-forms .toggle-switch >label:after, .wpfinfowindow .wpf-closeicon, .wpfinfowindow2 .wpf-closeicon{left:0; right:auto!important}
.golden-forms .pflabelfixsearch.search >.input{padding:0 40px 0 9px!important}
.select2-results ul.select2-result-sub{padding-right:0}
ul.pfmu-userbuttonlist{text-align:right}
.golden-forms .select:before, .golden-forms .select:after{left:10px; right:auto!important}
#pf-ajax-itemrefine-button{margin-left:10px}
.pflistgridview .pflistcommonview-header .searchformcontainer-filters-right li:last-child{margin-right:5px!important}
.pfshowmaplink, 
.pflist-itemdetails .pflist-itemtitle a, 
.pflist-itemdetails >.pflist-address, .pflist-customfields{text-align:right}
.pfnavmenu li{float:right; text-align:right!important}
.wpf-header #pf-primary-nav .pfnavmenu .pfnavsub-menu li a{ text-align:right}
.pflist-itemdetails .pflist-itemtitle a{ display:block}
.pfribbon-featured{right:-30px; left:auto}
.pfribbon-featured:before{ right:0;  left:auto}
.pfribbon-featured:after{ left:0;  right:auto}
.wpfinfowindow .pfribbon-featured2{text-align:right;  padding-right:5px}
.pflistingitem-subelement.pf-price:last-child{margin-right:0}
#pf-ajax-uploaditem-button, #pf-ajax-profileupdate-button{float:right; clear:left}

.wpfinfowindow .wpfimage{float:right}
.wpfimage-wrapper{ float:right;  margin-left:15px;  margin-right:0}
.pfmaptype-control .pfmaptype-control-ul .pfmaptype-control-li{margin-right:8px}
.sub-menu-link span{left:10px; right:auto}
.wpf-header .pfnavmenu ul li ul li a .pfadmicon-glyph-860:before{content:'\eb59'!important}
.pfdetailitem-subelement .pfdetail-ftext, .pf-itempage-ohours .pfdetail-ftext{ float:left}
.ui-tabgroup >.ui-tabs, .ui-tabgroup >.ui-tabs >[class^="ui-tab"]{ float:right}